.layout-aside {
	position: relative;
	background: #fff;
	/* 滚动条样式 */
	&-scrollbar {
		background: #fff;
		.el-scrollbar__wrap {
			overflow-x: hidden;
		}
		.el-scrollbar__bar.is-horizontal {
			display: none;
		}
	}
	/* menu */
	&-menu:not(.el-menu--collapse) {
		width: 200px;
		.fa {
			font-size: 16px;
		}
	}
	.el-menu {
		.fa {
			margin-right: 5px;
			width: 24px;
			font-size: 16px;
			text-align: center;
			vertical-align: middle;
			transition: font-size .2s ease, transform .2s ease;
		}
		span {
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	.el-menu--collapse {
		span {
			width: 0;
		}
		i.el-submenu__icon-arrow {
			display: none;
		}
		.fa {
			font-size: 18px;
		}
	}
}

.layout-header {
	box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
	background: #fff;
	z-index: 1;
	position: relative;
	&-logo {
		float: left;
	}
	&-inner {
		height: 60px;
		line-height: 60px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	&-tools {
		float: right;
		&-btn-con {
			text-align: center;
			cursor: pointer;
			margin: 20px 10px;
			font-size: 16px;
			color: #000;
		}
		.el-badge {
			vertical-align: inherit;
		}
	}
}