@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #f7f7f7;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

.el-breadcrumb {
  display: inline-block;
}

.el-divider {
  margin: 0 8px;
  display: inline-block;
  height: .9em;
  width: 1px;
  vertical-align: middle;
  position: relative;
  top: -.06em;
  font-family: Monospaced Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, .65);
  box-sizing: border-box;
  list-style: none;
  background: #e8e8e8;
}

.el-popover-box_status {
  font-size: 22px;
  margin-right: 4px;
  vertical-align: middle;
}

.el-popover-box_status.el-icon-question {
  color: #e6a23c;
}

.el-dialog__headerbtn {
  top: 24px;
}

.layout-content>.el-scrollbar {
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
}

.el-input-number.is-controls-right .el-input__inner {
  text-align: left;
}

.page-header {
  border-bottom: 1px solid #e8e8e8;
  background: #ffffff;
  &-inner {
    height: 60px;
    line-height: 60px;
  }
}

.page-header-tabs {
  .el-tabs__header {
    margin-bottom: 0;
  }
  .el-tabs__nav-wrap::after {
    background: transparent
  }
}

.overlayview {
  position: absolute;
  background: #fff;
  min-width: 60px;
  border: 1px solid #ebeef5;
  z-index: 2000;
  color: #495060;
  text-align: justify;
  font-size: 14px;
  white-space: nowrap;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  &-title {
    position: relative;
    padding: 8px 16px;
    margin: 0;
    &:after {
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      left: 8px;
      right: 8px;
      bottom: 0;
      background-color: #e9eaec;
    }
  }
  &-title__noborder {
    &:after {
      display: none;
    }
  }
  &-body {
    padding: 8px 14px;
    &-inner {
      height: 24px;
      line-height: 24px;
    }
  }
  &-arrow,
  &-arrow:after {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-color: transparent;
    border-style: solid;
  }
  &-arrow {
    top: 11px;
    left: -8px;
    border-width: 8px 8px 8px 0;
    border-right-color: hsla(0, 0%, 85%, .5);
  }
  &-arrow:after {
    content: " ";
    left: 0px;
    bottom: -7px;
    border-width: 8px;
    border-left-width: 0;
    border-right-width: 8px;
    border-right-color: #fff;
  }
}

.side-dialog {
  min-width: 220px;
  height: 100%;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  border: 1px solid #ebeef5;
  background-color: #fff;
  color: #303133;
  transition: .3s;
}

.not-content {
  text-align: center;
  font-size: 12px;
  color: #d5dce8;
}