$body-background-color:#193c7e;
$layout-header-color:linear-gradient(to right, #648dba 10%, #5f95c5 10%, #6196c4 20%, #1d58c7);
/*  */

.layout {
  background: $body-background-color;
  .layout-header {
    background: $layout-header-color;
    color: #fff;
  }
  .el-menu {
    border-right: solid 1px transparent;
    background: linear-gradient(135deg, #266eb3, #4b9cd1);
    &-item {
      color: #fff;
      &:focus,
      &:hover {
        background: #3a66a3
      }
      i {
        color: #fff;
      }
    }
    &-item.is-active {
      color: #d5d359
    }
  }
  .page-header {
    background: #115198;
    border-bottom: 1px solid transparent;
    .el-breadcrumb__item:last-child .el-breadcrumb__inner {
      color: #d5d359;
    }
    .el-breadcrumb__inner a,
    .el-breadcrumb__inner.is-link {
      color: #d5dce8;
    }
  }
  .el-input__inner {
    background: transparent;
    border: 1px solid #2963a3;
    color: #d5dce8;
  }
  .el-card {
    background: #115198;
    border-color: #115198;
    color: #f1f1f1;
  }
  .el-card__header {
    border-bottom: 1px solid #2963a3;
  }
  /* 表格 */
  .el-table {
    color: #d5dce8;
    background-color: transparent;
    &:before {
      background-color: transparent;
    }
    thead {
      color: #96b0d0;
    }
    th {
      background-color: #195aa2;
    }
    th.is-leaf {
      border-bottom: 1px solid #2963a3;
    }
    tr {
      background-color: #115198;
    }
    td {
      border-bottom: 1px solid #2963a3;
    }
    .el-table__empty-text {
      color: #d5dce8;
    }
  }
  .el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: #2963a3;
  }
  /* 分页 */
  .el-pagination {
    color: #d5dce8;
    .el-pagination__total {
      color: #d5dce8;
    }
    .el-input__inner {
      background: transparent;
      border: 1px solid #2963a3;
      color: #d5dce8;
    }
    .btn-next,
    .btn-prev {
      background: transparent;
      color: #d5dce8;
    }
    button:disabled {
      background: transparent;
    }
    .el-pagination__jump {
      color: #d5dce8
    }
  }
  .el-pager {
    li {
      background: transparent;
    }
    li.active {
      color: #d5d359;
    }
  }
  /* loading mask */
  .el-loading-mask {
    background-color: rgba(17, 80, 151, 0.8);
  }
  /*  */
  .el-divider {
    background: rgba(80, 135, 191, 0.3);
  }
  /*  */
  .crossing-setting {
    .box-content-inner {
      color: #f1f1f1;
      .item {
        color: rgba($color: #f1f1f1, $alpha: 0.8)
      }
    }
    .el-button--text {
      color: #9bafc3;
      &:hover {
        color: #66b1ff;
      }
    }
  }
  /*  */
  .map-card {
    background: #fff;
    border: 1px solid #ebeef5;
    color: #303133
  }
  /*  */
  .query-wrapper {
    .box {
      &-inner {
        &-content {
          &-label,
          &-button {
            color: #f1f1f1;
          }
          &-inner {
            border-color: #2963a3
          }
        }
      }
    }
  }
  /*  */
  .el-tabs__item {
    color: #f1f1f1;
  }
  .el-tabs__item.is-active {
    color: #409EFF;
  }
  .el-tabs__nav-wrap::after {
    background-color: #2963a3;
  }
  /*  */
  .el-form-item__label {
    color: rgba($color: #f1f1f1, $alpha: 0.6)
  }
  /*  */
  .el-input-number__decrease,
  .el-input-number__increase {
    background: #125298;
    color: #f1f1f1;
  }
  .el-input-number__decrease {
    border-right: 1px solid #4967af;
  }
  .el-input-number__increase {
    border-left: 1px solid #4967af;
  }
}